on init
    write /proc/sys/kernel/hung_task_timeout_secs 0

    start watchdogd

    rm /efs
    mkdir /efs
    mkdir /sec_efs
    write /sys/class/power_supply/battery/siop_level 0

on late-init
    setprop sys.usb.controller 13200000.dwc3
    setprop ro.debuggable 1
    setprop service.adb.root 1
    setprop sys.usb.configfs 1
    setprop sys.usb.config adb

on boot

on fs
    wait /dev/block/platform/13500000.ufs
    symlink /dev/block/platform/13500000.ufs /dev/block/bootdevice
    symlink /dev/block/platform/13500000.ufs/by-name /dev/block/by-name

    symlink /dev/block/platform/13500000.ufs/by-name/param /dev/block/param
    chown root system /dev/block/param
    chmod 0666 /dev/block/param

    export ANDROID_ROOT /system_root

# Set watchdog timer to 30 seconds and fed it every 10 seconds to get a 20 second margin
service watchdogd /system/bin/watchdogd 10 20
    class core
    oneshot
    seclabel u:r:watchdogd:s0
